# Private Credentials & Sensitive Tokens
config.json
cookies.json
.env
*.pem
*.key
credentials.json
token.json
cloud_repair_progress.json

# Large media & video files
*.mp4
*.mkv
*.flv
*.ts
*.part
*.avi
*.mov
*.webm
*.jpg
*.jpeg
*.png

# Binaries & Executables
*.exe
ffmpeg.exe
ffprobe.exe

# Python Cache & Environment
__pycache__/
*.py[cod]
*$py.class
*.log
venv/
.venv/
env/
.env*/

# Subfolders & Staging
.tempmediaStorage/
_tiktok_recorder/
github_recorder/
gradio_space/
huggingface_space/
